.userSettingsContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.setting {
  display: inline-block;
  align-items: center;
}

.setting span {
  margin-right: 10px;
}