.inputContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.displayContainer {
  text-align: left;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.bitInput {
  background-color: #f7f9fc;
  border-radius: 12px;
  padding: 12px;
  margin-right: 5px;
  font-size: 28px;
  color: #333;
  outline: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.icon {
  padding: 5px 10px;
  color: #fff;
  cursor: pointer;
  font-size: 28px;
  transition: background-color 0.3s ease;
}

.iconSpin {
  animation: spin .3s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

p {
  color: #fff;
  font-size: 28px;
}
