.gridContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bitInputContainer {
  display: inline-flex;
}

.controlsContainer {
  display: flex;
  margin-top: 25px;
}

.valueContainer {
  display: flex;
}

.decimalInput {
  text-align: center;
  color: #fff;
  font-size: 128px;
}

.bitInput {
  background-color: #1d2126;
  border-radius: 12px;
  padding: 12px;
  margin-right: 5px;
  font-size: 28px;
  color: #b3b3b3;
  outline: none;
  text-align: center;
  cursor: pointer;
}

.placeValue {
  color: #c98329;
  margin-top: 5px;
}

.icon {
  padding: 5px 10px;
  color: #fff;
  cursor: pointer;
  font-size: 52px;
}

/* this hides the number input arrow controls */
input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

/* 400px and up */
@media only screen and (min-width: 400px) {}

/* 768px and up) */
@media only screen and (min-width: 768px) {}

/* 992px and up
@media only screen and (min-width: 992px) {}

/* 1200px and up */
@media only screen and (min-width: 1200px) {
  .gridContainer {
    gap: 75px;
  }

  .decimalInput {
    font-size: 200px;
  }

  .placeValue {
    font-size: 24px;
  }

  .bitInput {
    font-size: 56px;
  }

  .icon {
    font-size: 48px;
  }
}