@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

html {
  background-color: #0d1117;
}

body {
  background-image: linear-gradient(to bottom right, #1e2228, #0d1117);
  background-color: #0d1117;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  color: #fff;
  text-align: center;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
